@import "../../resources/styles/variables";

.errors {
}

.error {
    color: var(--color-error);
    font-size: 12px;
    font-style: italic;
    line-height: 1em;
    padding: 5px 0;
    z-index: 1;
    text-shadow: 1px 1px 0px #fff;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
}

.container {
    font-family: var(--default-font-family);
    flex: 1;
    display: flex;
    margin: 20px 0;
    align-items: center;

    @media only screen and (max-width: 720px) {
        flex-wrap: wrap;
    }
}

.inputContainer {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.inputWrapper {
    padding: 0 5px;
    flex: 1;
    position: relative;
}

.input {
    color: var(--color-black);
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid rgb(224, 224, 224);
    padding: 5px 10px;
    font-size: 14px;
    min-height: 40px;
    border-radius: 0px;

    &.hasErrors {
        border-color: var(--color-error);
    }
}

textarea.input {
    padding: 10px;
    min-height: 160px;
}

.label {
    color: var(--color-black);
}
